/Users/alex/Desktop/My project/Library/
build/
Library/ 
/Users/alex/Desktop/My project/build
build/Build/build.data
build/Build/build.framework.js
build/Build/build.wasm
Library/ArtifactDB
Library/Bee/2000b0aP.dag_fsmtime
Library/Bee/artifacts/2000b0aE.dag/Assembly-CSharp.dll
Library/Bee/artifacts/2000b0aE.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/2000b0aE.dag/Assembly-CSharp.ref.dll
Library/Bee/artifacts/2000b0aP.dag/Assembly-CSharp.dll
Library/Bee/artifacts/2000b0aP.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/2000b0aP.dag/Assembly-CSharp.ref.dll
Library/Bee/artifacts/il2cpp_conv_k6c8.traceevents
Library/Bee/artifacts/WebGL/build/debug_WebGL_wasm/build.wasm
Library/Bee/artifacts/WebGL/GameAssembly/master_WebGL_wasm/8w0t_RgctxTable.o
Library/Bee/artifacts/WebGL/GameAssembly/master_WebGL_wasm/8zqb_gistration.o
Library/Bee/artifacts/WebGL/GameAssembly/master_WebGL_wasm/cqxy_rp_CodeGen.o
Library/Bee/artifacts/WebGL/GameAssembly/master_WebGL_wasm/g1r8_efinitions.o
Library/Bee/artifacts/WebGL/GameAssembly/master_WebGL_wasm/GameAssembly.bc
Library/Bee/artifacts/WebGL/GameAssembly/master_WebGL_wasm/kx6b_eldValues1.o
Library/Bee/artifacts/WebGL/GameAssembly/master_WebGL_wasm/oi21_bly-CSharp.o
Library/Bee/artifacts/WebGL/GameAssembly/master_WebGL_wasm/rlov_TypeValues.o
Library/Bee/artifacts/WebGL/GameAssembly/master_WebGL_wasm/wwag_adataUsage.o
Library/Bee/artifacts/WebGL/il2cppOutput/build/Data/Metadata/global-metadata.dat
Library/Bee/artifacts/WebGL/il2cppOutput/build/GameAssembly.bc
Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Assembly-CSharp.cpp
Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Assembly-CSharp_CodeGen.c
Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppCCalculateFieldValues1.cpp
Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppCCalculateTypeValues.cpp
Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppCCFieldValuesTable.cpp
Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppMetadataRegistration.c
Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppMetadataUsage.c
Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppRgctxTable.c
Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppTypeDefinitions.c
Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Symbols/MethodMap.tsv
Library/Bee/artifacts/WebGL/il2cppOutput/data/Metadata/global-metadata.dat
Library/Bee/artifacts/WebGL/ManagedStripped/Assembly-CSharp.dll
Library/Bee/artifacts/WebGL/ManagedStripped/Assembly-CSharp.pdb
Library/Bee/artifacts/WebGL/ManagedStripped/icallsummary.txt
Library/Bee/artifacts/WebGL/webgl.data
Library/Bee/backend_profiler1.traceevents
Library/Bee/buildprogram0.traceevents
Library/Bee/buildreport.json_0.traceevents
Library/Bee/buildreport.json_1.traceevents
Library/Bee/fullprofile.json
Library/Bee/Player731b7216.dag
Library/Bee/Player731b7216.dag_fsmtime
Library/Bee/PlayerScriptAssemblies/Assembly-CSharp.dll
Library/Bee/PlayerScriptAssemblies/Assembly-CSharp.pdb
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/tundra.scancache
Library/Bee/TundraBuildState.state.map
Library/PlayerDataCache/WebGL/Data/data.unity3d
Library/PlayerDataCache/WebGL/DataBuildDirtyInfo.json
Library/PlayerDataCache/WebGL/ScriptsOnlyCache.yaml
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Temp/__Backupscenes/0.backup
Temp/EditorBuildOutput/MethodMap.tsv
Temp/FSTimeGet-50681595c1ec5431c93e2dcda3283725
Temp/StagingArea/Data/Managed/TypesInScenes.xml
